@import url("index.css");
@import url("blog-post.css");

.icon {
  width: 42px;
  height: 42px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  padding: 0 12px 0 12px;
}

@media (min-width: 450px) {
  #header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 0 12px 0 12px;
  }
}

/* #header > * {
  border: 1px solid red;
} */

#header a {
  font-size: 24px;
}

button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
}

#footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

#footer > * {
  margin: 15px;
}
